ion-card{
    height: 185px;
}
ion-icon {
    font-size: 118px;
  }
  ion-card-header{
      text-align: center;
  }
  .title{
    text-align: center;
  }
  ion-content{
    --background:  #edf0fa;
  }
  .black{
    color: black;
  }